
h1 {
	font-size: 35px;
	font-family: Poppins;
	text-align: center;
	font-weight: 700;
}


.header-section p {
	text-align: center;
}

.emphasize {
	font-family: Poppins;
	color: red;
	font-weight: bold;
}